{% extends 'layout.html' %}
{% load staticfiles %}
{% load packets_extras %}
{% block content %}

<!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Multi param search
      <small>search in elasticsearch packet documents with multi param</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">multi param search</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">

   <div class="box box-default">
     <div class="box-body">
       <form class="form-inline" role="form" method="post">
         {% csrf_token %}
         <div class='row'>
           <div class="col-md-3">
             <input type="text" class="form-control" id="id_version" name="version" placeholder="version">
           </div>
           <div class="col-md-3">
             <input type="text" class="form-control" id="id_ip_header_length" name="ip_header_length" placeholder="ip header length">
           </div>
           <div class="col-md-3">
             <input type="text" class="form-control" id="id_ttl" name="ttl" placeholder="ttl">
           </div>
           <div class="col-md-3">
             <input type="text" class="form-control" id="id_protocol" name="protocol" placeholder="protocol">
           </div>
           <div class="col-md-3">
             <input type="text" class="form-control" id="id_source_address" name="source_address" placeholder="source address">
           </div>
           <div class="col-md-3">
             <input type="text" class="form-control" id="id_destination_address" name="destination_address" placeholder="destination address">
           </div>
           <div class="col-md-3">
             <input type="text" class="form-control" id="id_source_port" name="source_port" placeholder="source port">
           </div>
           <div class="col-md-3">
             <input type="text" class="form-control" id="id_dest_port" name="dest_port" placeholder="dest port">
           </div>
           <div class="col-md-3">
             <input type="text" class="form-control" id="id_sequence_number" name="sequence_number" placeholder="sequence number">
           </div>
           <div class="col-md-3">
             <input type="text" class="form-control" id="id_acknowledgement" name="acknowledgement" placeholder="acknowledgement">
           </div>
           <div class="col-md-3">
             <input type="text" class="form-control" id="id_tcp_header_length" name="tcp_header_length" placeholder="tcp header length">
           </div>
           <div class="col-md-3">
             <input type="text" class="form-control" id="id_data" name="data" placeholder="data">
           </div>
         <div class="col-md-3">
           <input type="text" class="form-control" id="id_datetime" name="datetime" placeholder="datetime">
         </div>
         <div class="col-md-3">
           <br>
           <button type="submit" class="btn btn-success pull-right">Search</button>
         </div>
       </div>
      </form>
     </div><!-- /.box-body -->
   </div><!-- /.box -->

<!-- show the results -->
{% if log_results != None %}
<table class="table table-striped">
 <thead>
   <tr>
     <th>version</th>
     <th>ip header length</th>
     <th>ttl</th>
     <th>protocol</th>
     <th>source address</th>
     <th>destination address</th>
     <th>source port</th>
     <th>dest port</th>
     <th>sequence number</th>
     <th>acknowledgement</th>
     <th>tcp header length</th>
     <th>data</th>
     <th>datetime</th>
   </tr>
 </thead>
 <tbody>
   {% for doc in log_results %}
     {% with doc|get:"_source" as packet%}<br>
       <tr>
         <td>{{packet.version}}</td>
         <td>{{packet.ip_header_length}}</td>
         <td>{{packet.ttl}}</td>
         <td>{{packet.protocol}}</td>
         <td>{{packet.source_address}}</td>
         <td>{{packet.destination_address}}</td>
         <td>{{packet.source_port}}</td>
         <td>{{packet.dest_port}}</td>
         <td>{{packet.sequence_number}}</td>
         <td>{{packet.acknowledgement}}</td>
         <td>{{packet.tcp_header_length}}</td>
         <td>{{packet.data}}</td>
         <td>{{packet.datetime}}</td>
       </tr>
     {% endwith %}
   {% endfor %}
 </tbody>
</table>
{% endif %}
<!-- end of showing the results -->
</section>
{% endblock %}
